pkgbase = nodejs-groovebasin
	pkgdesc = Music player server with a web-based user interface inspired by Amarok 1.4
	pkgver = 1.2.1
	pkgrel = 3
	url = http://groovebasin.com/
	arch = any
	license = MIT
	makedepends = python2
	depends = nodejs
	depends = libgroove
	source = https://github.com/andrewrk/groovebasin/archive/1.2.1.tar.gz
	source = groovebasin
	sha256sums = d43e356aa4ee932096156d0954db97deefbdbe34bafb32b4493b71b13179fc3a
	sha256sums = b121429dc1c6ed132a02f66c8b49424c46bf9a1e358d9fe91cf4b8093eaa4e28

pkgname = nodejs-groovebasin

