pkgbase = nodejs-groovebasin
	pkgdesc = Music player server with a web-based user interface inspired by Amarok 1.4
	pkgver = 1.3.0
	pkgrel = 1
	url = http://groovebasin.com/
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = python2
	depends = nodejs
	depends = libgroove
	source = https://github.com/andrewrk/groovebasin/archive/1.3.0.tar.gz
	source = groovebasin
	sha256sums = e7ec66b443b25ac2d2a7a04ab5efdadfd5a7a0c4ee2f8441841f7b76f8f11032
	sha256sums = b121429dc1c6ed132a02f66c8b49424c46bf9a1e358d9fe91cf4b8093eaa4e28

pkgname = nodejs-groovebasin

